## Notes 2013-01-18
### Basic arithetic expressions
#### Integers

In [12]:
x = 8 * 9

In [13]:
x

72

In [83]:
type(x)

float

`int` is the Python datatype we associate with hole numbers. There are no formal limits on size.

Single star for multiplication, two stars for exponentiation

$$ 9^2 = 81$$

In [87]:
9 * 2

18

In [88]:
9 ** 2 # exponentiation

81

#### Floating point numbers

In [89]:
x = x * 1.10 # increase value by 10 %

when we redefine x to have a new value we it will also have a new type, `float`, that can handle numbers with a decimal point. A variable is not restricted to a given data type as in compiled languages, Python has free typing

In [90]:
x

95.83200000000001

In [91]:
type(x)

float

Two forms of division, generally the result is float

In [22]:
9 / 2

4.5

`\\` means truncated division, the integer part, `%` the remainder

In [92]:
9 // 2

4

In [24]:
9 % 2

1

Sample use case.  a number `n` is even, a multiple of 2, if the following holds:

    n % 2 == 0

### Complex numbers

For complex numbers the imaginary unit is represented by `1j`.

In [93]:
type(1j)

complex

 An expression in mathmatics given by

$$ i^2 = -1$$

is represented in Python with

In [94]:
1j * 1j

(-1+0j)

### Comparison operators

* `=` means assignment
* `==` means *is equal to* (resulting in a `True` or `False`)

In [97]:
a = 888 * 999
b = 999 * 888

In [98]:
a, b

(887112, 887112)

In [99]:
a == b

True

`is` checks for identity (same object, same memory location)

In [100]:
a is b

False

### Strings

In [101]:
#strings

"It's time"

"It's time"

Unbalanced quotation marks normally results in an error

In [103]:
'It's time'

SyntaxError: unterminated string literal (detected at line 1) (394132963.py, line 1)

Since the apostrophes have special meanings in Python the backslash is used to say that we mean the literal apostrophe character

In [104]:
'It\'s time'

"It's time"

Two equivalent ways of expressing the same string

In [105]:
"It's time" == 'It\'s time'

True

In [106]:
'Our boss is "nice". 😀'

'Our boss is "nice". 😀'

In [107]:
"Our boss is \"nice\". 😀"

'Our boss is "nice". 😀'

Triple quotation marks to have strings that include line breaks

In [108]:
"""Hello
world"""

'Hello\nworld'

The `\n` is the special newline character in Python. It is still a single character but written as two due to keyboard limitations

In [110]:
len('\n')

1

The print function will handle these characters to insert line breaks as we expect them

In [111]:
print('Hello\nworld')

Hello
world

Another example of a special character is what you normall get with the tab key `\t`

In [112]:
print('Hello\tworld')

Hello	world

Addition of strings is defined by concatenation

In [43]:
'hello' + 'hello'

'hellohello'

Multiplication of a string with a number repeats the string that number of times

In [114]:
'hello' * 2

'hellohello'

In [115]:
'hello' * 10

'hellohellohellohellohellohellohellohellohellohello'

In [116]:
# what methods are defined for strings

dir('hello')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
'hello world'.capitalize()

'Hello world'

In [48]:
'hello world'.title()

'Hello World'

In [49]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### Datatypes for combining other data
#### Lists

In [126]:
colours = ['hearts', 'spades', 'diamonds', 'clubs']

In [127]:
type(colours)

list

In [128]:
dir(colours)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

List addition combines two lists to a new (how this works internally is defined internally by add function)

In [122]:
colours + colours

['hearts',
 'spades',
 'diamonds',
 'clubs',
 'hearts',
 'spades',
 'diamonds',
 'clubs']

In [54]:
colours

['hearts', 'spades', 'diamonds', 'clubs']

`append` function to increase the list with a new member

In [123]:
colours.append('joker')

In [124]:
colours

['hearts', 'spades', 'diamonds', 'clubs', 'joker']

#### Dictionaries

In [57]:
# dictionaries

d = {'a': 1, 'b': 2}

In [58]:
d

{'a': 1, 'b': 2}

In [71]:
# get a value for a given key
d['a']

1

In [72]:
d['b']

2

In [60]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [61]:
d.keys()

dict_keys(['a', 'b'])

In [63]:
list(d.keys())

['a', 'b']

In [62]:
d.values()

dict_values([1, 2])

In [64]:
list(d.values())

[1, 2]

In [65]:
list(d.items())

[('a', 1), ('b', 2)]

### Logical constructs
#### Repetition or looping

In [129]:
for c in colours: # c is the loop variable
    print(c)      # the body of the loop is indented

hearts
spades
diamonds
clubs

Example get a list of card colours in upper case

In [131]:
upper_case_colours = [] # start with an empty lists
for c in colours:
    print(c)
    upper_case_colours.append(c.upper())  # extend the list as we go through the original sequence
    print(upper_case_colours)

hearts
['HEARTS']
spades
['HEARTS', 'SPADES']
diamonds
['HEARTS', 'SPADES', 'DIAMONDS']
clubs
['HEARTS', 'SPADES', 'DIAMONDS', 'CLUBS']

### Branching: if statements

In [133]:
i = 1
j = 2
if i > j:
    print(i, " is larger than ", j)
else:
    print(i, "is smaller than or equal to", j)

1 is smaller than or equal to 2