# Notes 2013-02-15

In [14]:
text = 'hello'

In [15]:
type(text)

str

In [16]:
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
text.upper

In [18]:
text.upper()

'HELLO'

In [19]:
text.join()

TypeError: str.join() takes exactly one argument (0 given)

In [20]:
text.join?

In [21]:
text.join(['_','_'])

'_hello_'

In [145]:
class Person: # start of a class definition
    """
    A class level doc-string
    """
    alla = []   # class attribute
    def __init__(self, first, last, age=None):
        """
        A class method doc string
        """
        self.first = first  # instance attributes
        self.last = last
        self.age = age
        Person.alla.append(self)
        
    def __str__(self):
        if self.age is None:
            return f'{self.last}, {self.first}'
        else:
            return f'{self.last}, {self.first} is {self.age} years old'
        
    def __repr__(self):
        #return str(self)
        return f'Person("{self.first}", "{self.last}")'

In [146]:
person = Person('Donald', 'Duck')  # instance of type Person
person

Person("Donald", "Duck")

In [147]:
str(person)

'Duck, Donald'

In [148]:
isinstance(person, Person)

True

In [149]:
Person.alla

[Person("Donald", "Duck")]

In [150]:
print(Person.alla[0])

Duck, Donald

In [151]:
dir(person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'alla',
 'first',
 'last']

In [152]:
person.__doc__

'\n    A class level doc-string\n    '

In [153]:
person.__init__.__doc__

'\n        A class method doc string\n        '

In [154]:
person.first

'Donald'

In [155]:
person.last

'Duck'

In [156]:
person.__str__()

'Duck, Donald'

In [157]:
type(person.__str__())

str

In [158]:
print(person)

Duck, Donald

In [159]:
person.age = 50

In [160]:
print(person)

Duck, Donald is 50 years old

In [161]:
person2 = Person('Daisy', 'Duck', age=40)

In [162]:
print(person2)

Duck, Daisy is 40 years old

In [163]:
Person.alla

[Person("Donald", "Duck"), Person("Daisy", "Duck")]

In [164]:
for p in Person.alla:
    print(p)

Duck, Donald is 50 years old
Duck, Daisy is 40 years old

### Example 2
Complex numbers

In [184]:
class MyComplex:
    def __init__(self, re=0, im=0):
        self.re = re
        self.im = im
        
    def __repr__(self):
        if self.im < 0:
            return f'{self.re} - {-self.im}i'
        else:
            return f'{self.re} + {self.im}i'
        
    def __add__(self, other):
        z = MyComplex(self.re + other.re, self.im + other.im)
        return z

In [185]:
MyComplex()

0 + 0i

In [186]:
MyComplex(1, 2)

1 + 2i

In [187]:
MyComplex(1, -2)

1 - 2i

In [188]:
z1 = MyComplex(1, 2)
z2 = MyComplex(3, 4)

In [189]:
z1

1 + 2i

In [190]:
z2

3 + 4i

In [191]:
z1 + z2  # z1 -> self, z2 -> other in the __add__ function

4 + 6i